.map-container {
	position: relative;
	--main-accent: #3E42F0;
	--main-accent-hover: #1B1FEE;
}

#map {
	height: 100vh;
	width: 100%;
}

.map-title,
.actions,
.filter-list  {
	margin: 0;
	position: absolute;
	top: 12.5px;
	left: 100px;
	z-index: 999;
	background-color: var(--main-accent);
	color: white;
	padding: 10px 25px;
	border-radius: 20px;
}

.actions {
	left: auto;
	right: 50px;
	font-size: 24px;
	font-weight: bold;
	border: 1px solid transparent;
}

.actions:hover {
	cursor: pointer;
	background-color: white;
	color: var(--main-accent);
	border-color: var(--main-accent);
}

.actions:hover + .filter-list,
.filter-list.active,
.filter-list:hover {
	display: block;
}

.filter-list {
	display: none;
	position: absolute;
	top: 70px;
	left: auto;
	right: 35px;
	z-index: 999;
	background-color: white;
	color: var(--main-accent);
	border: 1px solid var(--main-accent);
	font-size: 21px;
	padding: 0;
}

.filter-list:before {
	position: absolute;
	width: 0;
	height: 0;
	content: '';
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid var(--main-accent);
	top: -10px;
	right: 45%;
	z-index: 999;

}

.filter-list ul {
	list-style-type: none;
	margin: 0;
	padding: 10px 0;
	border-radius: 20px;
}

.filter-list ul li {
	font-weight: bold;
	padding: 10px 40px;
	margin: 0;
}

.filter-list ul li:first-of-type {
	margin-top: 5px;
}

.filter-list ul li:last-of-type {
	margin-bottom: 5px;
}

.filter-list ul li.active,
.filter-list ul li:hover {
	background-color: var(--main-accent);
	color: white;
	cursor: pointer;
}

.leaflet-popup-content h2 {
	text-decoration: underline;
	color: var(--main-accent);
	padding: 15px 0 0;
}

.leaflet-popup-content h2:hover {
	color: var(--main-accent-hover);
}

.leaflet-popup-content h2 a:hover {
	cursor: pointer;
}

.leaflet-popup-content h4 {
	color: black;
	margin: 0 0 5px;
	padding: 0;

}

.leaflet-popup-content a[href^="tel:"] {
	color: var(--main-accent);
}

.leaflet-popup-content a[href^="tel:"]:hover {
	color: var(--main-accent-hover);
}

.leaflet-popup-content p {
	margin: 10px 0;
}

#map.leaflet-container a.leaflet-popup-close-button {
	top: 5px;
	right: 5px;
	width: 40px;
	height: 40px;
	font-size: 30px;
	font-weight: bold;
	color: #999;
}

#map.leaflet-container a.leaflet-popup-close-button:hover {
	color: #DC3545;
}

.doordash-link {
	padding-top: 10px;
}

.doordash-link,
.grubhub-link {
	display: block;
	margin: 0 auto;
	text-decoration: none;
	width: 100%;
	height: 100%;
	max-width: 200px;
	margin-bottom: 10px;
}

.doordash-link .doordash-logo,
.doordash-link .doordash-text {
	display: inline-block;
}

.doordash-link:hover,
.grubhub-link:hover {
	cursor: pointer;
}

.doordash-link:hover .doordash-logo,
.doordash-link:hover .doordash-text {
	fill: #E02500;
}

.grubhub-link:hover .grubhub-logo {
	fill: #F51423;
}

/* Leaflet Socials */
.social-links {
	display: flex;
	justify-content: space-around;
}

.social-links a {
	text-decoration: none;
}

.facebook-icon,
.twitter-icon,
.instagram-icon,
.yelp-icon {
	width: 40px;
	height: 40px;
}

.facebook-icon:hover path {
	fill: #314887;
}

.twitter-icon:hover path:first-of-type {
	fill: #2F9CEE;
}

.instagram-icon:hover path {
	fill: url(#rg);
}

.yelp-icon:hover path {
	fill: #A92327;
}

/* Legend Styles */
.legend-container {
	z-index: 999;
	bottom: 25px;
	left: 25px;
	position: absolute;
	background-color: var(--main-accent);
	color: #FFF;
	text-align: left;
	padding: 10px 25px;
	font-size: 24px;
	border-radius: 20px;
}

h4 {
	display: inline-block;
	color: white;
	text-decoration: underline;
	margin: 0;
	padding-bottom: 15px;
}

.legend-open,
.legend-close {
	vertical-align: middle;
	display: none;
}

.legend-open.active,
.legend-close.active {
	display: inline-block;
}

.legend-open:hover,
.legend-close:hover {
	cursor: pointer;
}

.fa-plus-circle,
.fa-minus-circle {
	width: 24px;
	height: 24px;
	background-color: #FFF;
	border: 1px solid #FFF;
	border-radius: 50%;
	margin-left: 15px;
}

.icon.minus-icon {
	color: #FF0000;
}
.icon.minus-icon:hover {
	color: #E00000;
}

.icon.plus-icon {
	color: #00FF00;
}
.icon.plus-icon:hover {
	color: #00E000;
}

.legend {
	color: #FFF;
	font-weight: bold;
	padding: 0 40px 20px;
	display: none;
}

.legend.active {
	display: block;
}

.legend p {
	margin: 0 0 10px;
}

.legend p:hover {
	cursor: pointer;
	opacity: .7;
}

.legend p img {
	max-width: 60px;
	max-height: 60px;
	background-color: #FFF;
	padding: 5px;
	vertical-align: middle;
}
